html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Baloo Chettan 2', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

.header-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Baloo Chettan 2', sans-serif;
}

.site-title {
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.02em;
    text-shadow: 2px 2px 0px #663300, 
                 4px 4px 0px #996633, 
                 6px 6px 0px #CC9966, 
                 8px 8px 0px #FFCC99;
}

.search-bar {
    margin-top: 20px;
    position: relative;
    width: 200px;
    height: 40px;
    transition: width 0.4s ease-in-out;
}

#search-input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
}

#search-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#search-btn i {
    color: #fff;
    font-size: 1.2rem;
    transition: transform 0.4s ease-in-out;
}

.search-bar:hover {
    width: 300px;
}

.search-bar:hover #search-btn i {
    transform: scale(1.2);
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

#background-sound {
    display: none;
}

#play-sound-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 1.5rem;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    z-index: 2;
}

#play-sound-btn:hover {
    background-color: #333;
    color: #fff;
}




.about-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  #aboutVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  video {
    width: 100%;
    height: auto;
  }
  .blog-section {
    padding: 50px 0;
    background-color: #D2B48C; /* Light shade of brown */
  }
  
  .carousel-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between stories */
    align-items: center;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #D2B48C; /* Light brown background for the container */
  }
  
  .carousel-slide {
    flex: 0 0 calc(33.33% - 20px); /* Adjust width for the number of stories and spacing */
    margin: 0 10px; /* Adjust spacing between stories */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #d2b48c; /* Light brown color for the slides */
    border: 1px solid #8B4513; /* Dark brown border */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
  .carousel-slide img {
    width: 100%; /* Ensure images fill their containers */
    height: 200px; /* Set the desired height for all images */
    object-fit: cover;
  }
  
  .story-info {
    padding: 20px;
  }
  
  .story-info h3 {
    margin-bottom: 10px;
  }
  
  .story-info p {
    margin-bottom: 20px;
  }
  
  .button-53 {
    background-color: #8B4513; /* Brown color */
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #FFFFFF; /* Change to white for better contrast */
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 460px;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-53:focus {
    outline: 0;
  }
  
  .button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .button-53:hover:after {
    bottom: 2px;
    left: 2px;
  }
  
  @media (min-width: 768px) {
    .button-53 {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  }
  
  
  @keyframes slideFadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  